<a href="https://colab.research.google.com/github/far156/python-/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
a = int(input())
b = int(input())
x = a + b
print("X = %i"% x)

10
9
X = 19

area of circle

In [13]:
raio = float(input())

area = (raio * raio) * 3.14159 

print("A=%0.4f" %area)

4
A=50.2654

Age in days

In [14]:
n= int(input())
a = n / 365
rA = n % 365
rM = rA % 30
m = rA / 30
d = rM % 30
print("{} ano(s)".format(int(a)))
print("{} mes(es)".format(int(m)))
print("{} dia(s)".format(int(d)))

400
1 ano(s)
1 mes(es)
5 dia(s)