<a href="https://colab.research.google.com/github/far156/python-/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IF statement

In [1]:
grade = 85
if grade>=60:
  print("passed")

passed

If else statement

In [3]:
grade =85
if grade>=60:
  print("passed")
else:
  print("fail")

passed

Conditional expression:

In [4]:
result = ('Passed' if grade >= 60 else 'Failed')

In [5]:
print(result)

Passed

In [6]:

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

B


While Statement¶

In [7]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

In [8]:
product = 3

while product<=50:
  product = product*3

In [9]:
print(product)

81

For statement¶

In [10]:
for character in "programming":
  print(character, end=" ")

p r o g r a m m i n g

In [11]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

In [12]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

In [13]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

In [ ]:
number =  int(input())

In [15]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

In [16]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

In [14]:
for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9

In [ ]:
Take an input from user and print the number table

In [ ]:
number =  int(input())

In [ ]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

In [ ]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

In [ ]:
for number in range(10):
  if  number==5:
    break
  print(number, end=" ")

In [ ]:
for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")