<a href="https://colab.research.google.com/github/far156/python-/blob/master/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

built in a function

In [2]:
print("Hi, I am semi-colon. Do you miss me?")
print("Let me know if you miss me or not. ")
s=input()
a=5
b=20
print(max(a,b))
print(min(a,b))

c=9.4
d=int(c)
print(d)

e="python"
print(type(e))

Hi, I am semi-colon. Do you miss me?
Let me know if you miss me or not.
yes
20
5
9
<class 'str'>

user define function

In [6]:
def add(a,b):
  c=a+b
  return c
a= int (input("Enter a number: "))
b= int (input("Enter a number: "))
d=add(a,b)
print("The sum is", d)

Enter a number: 20
Enter a number: 30
The sum is 50

function with multiplication

In [9]:
def divisor(x,y,n):
    if x%n==0 and y%n==0:
        print("%d & %d are divisible by %d"%(x,y,n))
    elif x%n==0:
        print("only %d is divisible by %d"%(x,n))
    elif y%n==0:
        print("only %d is divisible by %d"%(y,n))
    else:
        print("none of %d & %d is divisible by %d"%(x,y,d))
        divisor(10,20,5)
divisor(11,20,5)
divisor(10,22,5)
divisor(2,5,4)

only 20 is divisible by 5
only 10 is divisible by 5
none of 2 & 5 is divisible by 50
10 & 20 are divisible by 5

function without parameter

In [11]:
def summation():
    a=18+30
    return a

b=summation()
print(b)

48

function with defauil perameter

In [15]:
def check(a=0):
    if a==0:
        print("Zero")
    elif a>0:
        print("Positive")
    else:
        print("Negative")
        check()     #without parameter
check(-4)   #with parameter

Negative
Zero

local scope

In [17]:


def local_scope():
    x=6
    print(x)

a=local_scope()
print(a)
print(x)

6
None

NameError: ignored

In [ ]:
global scope

In [18]:
#global scope

x=20

def global_scope():
    print(x)

print(x)
global_scope()

20
20

In [20]:
#global scope

def global_scope():
    global x
    x=40
    

global_scope()
print(x)

40